h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #120101;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: aqua;
    }
    