<h1>Product list</h1>

<p><i>The table below shows all the available products:</i></p>
    <body>
    <table>
      <tr>
        <th>Product ID</th>
        <th>Product name</th>
        <th>Product Type</th>
      </tr>
      <tr>
        <td>001/<td>
        <td>Milk</td>
        <td>Dairy</td>
      </tr>
      <tr>
        <td>002</td>
        <td>Eggs</td>
        <td>Dairy</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Coca Cola</td>
        <td>Soda</td>
      </tr>
      <tr>
        <td>004</td>
        <td>Kale</td>
        <td>Vegetable</td>
      </tr>
      <tr>
        <td>005</td>
        <td>Banana</td>
        <td>Fruit</td>
      </tr>
      <tr>
        <td>006</td>
        <td>Chocolate</td>
        <td>Snack</td>
      </tr> 
    </table>
    </body>
